.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border:0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-conainer:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #76ecbe;
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.question{
    color: #76ecbe;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}